<ng-container *ngIf="tasks.length > 0; else noTasks">
  <article
    *ngFor="let task of tasks"
    class="flex items-center justify-between border-b mb-8 pb-4 group hover:scale-105 transition-transform duration-200"
  >
    <div class="flex items-center gap-x-4">
      <div class="h-2 w-2 rounded-full bg-purple"></div>
      <p class="text-lg pointer-events-none">{{ task }}</p>
    </div>
    
    <button
      type="button"
      class="hidden group-hover:block"
      (click)="removeTask(task)"
    >
      <app-trash-icon></app-trash-icon>
    </button>
  </article>
</ng-container>

<ng-template #noTasks>
  <p class="text-neutral-500 text-center text-2xl">No tienes tareas todavía</p>
</ng-template>
